<div class="bottom-nav">
    <div class="social-icons">
      <!-- <img src="https://example.com/social-icon-1.png" alt="Social Icon 1">
      <img src="https://example.com/social-icon-2.png" alt="Social Icon 2">
      <img src="https://example.com/social-icon-3.png" alt="Social Icon 3"> -->
      <app-icon-component [url]="doqfyFb" [icon]="'./assets/images/fb.png'"></app-icon-component>
      <app-icon-component [url]="doqfyTwitter" [icon]="'./assets/images/twitter.png'"></app-icon-component>
      <app-icon-component [url]="doqfyLinkedIn" [icon]="'./assets/images/linkedin.png'"></app-icon-component>
    </div>
    <div class="received-text">2023 All Right's Received</div>
  </div>